 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 }

#map {
	float: left;
	height: 100%;
	width: 100%;
}

#indexDetailContainer {
	float: left;
	height: 100%;
	width: 30%;
}

#userFormDialog input, #userFormDialog select {
	max-width: 280px;
	min-width: 280px;	
}

#output {
	height: 114px;
	width: 114px;
}

.page-wrapper {
	width: 100%;
	height: 100%;
}

.page-wrapper #officeLeft {
	width: 70%;
	float: left;
}

.page-wrapper .officeRight {
	width: 30%;
	height: 70%;
	float: left;
}

.officeRight #mapContainer {
	width: 100%;
	height: 55%;
}

.actionBtnContainer {
	float: right;
}